{% set orders = craft.entries
    .section('orders')
    .matrixCriteria('scoops', {
        'type': 'default',
        'nuts': true
    })
    .all() %}

{% for order in orders %}
    <p>Order with nuts: {{ order.title }}</p>
{% endfor %}
